/* SuccessBook.css */
.success-book {
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 0 auto;
  background-color: #ffffff;
  margin-bottom: 30px;
  margin-top: 30px;
}

.success-book h2 {
  font-size: 24px;
  color: #333;
}

.success-book p {
  font-size: 18px;
  color: #555;
  margin: 10px 0;
}

.success-icon {
  width: 64px;
  height: 64px;
  margin-top: 20px;
}
.not-text {
  font-size: 20px;
  text-align: center;
}
