@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
.in-search-1 {
  height: 50px;
  border: none;
  width: 70%;
  cursor: not-allowed;
}
.in-search-1:focus-visible {
  outline: none;
}

.main-img {
  height: 33px;
  width: 8.5rem;
}
.contres-1 {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 20px 10px 30px 15%;
}
.login-button1,
.signup-button1 {
  background-color: transparent;
  color: rgb(116, 113, 113);
  border: none;
  font-family: Poppins;
  font-size: 18px;
  margin-left: 20px;
  cursor: pointer;
  margin-left: 2.5rem;
}
.contres-2 {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  justify-content: start;
  margin-left: 11rem;
}
.contres-3 {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding-bottom: 30px;
}
.del-img {
  height: 2.5rem;
  width: 3rem;
}
.btn-1-delivery {
  font-size: 20px;
  background-color: transparent;
  color: rgb(116, 113, 113);
  border: none;
  font-family: Poppins;

  margin-left: 20px;
  cursor: pointer;
  margin-left: 35px;
  font-weight: bold;
}
.btn-del-logo {
  background: rgb(248, 248, 248);
  color: rgb(116, 113, 113);
  border: none;
  font-family: Poppins;
  font-size: 18px;
  margin-left: 20px;
  cursor: pointer;
  margin-left: 2.5rem;
  border-radius: 50%;
  padding: 10px;
  transition: background-color 0.3s;
}
/* #hr-line {
  box-shadow: rgb(232, 232, 232) 0px -0.5px 0px inset;
} */
.selected {
  background-color: rgb(239, 209, 153);
}
.selected1 {
  color: rgb(246, 107, 107);
}
.selected2 {
  border-bottom: 2px solid rgb(246, 107, 107);
}
.search-navbar-1 {
  display: flex;
  margin-left: 20px;
  border-radius: 10px;
  border: 1px solid rgb(192, 189, 189);
  width: 650px;
  box-shadow: rgba(28, 28, 28, 0.08) 4px 4.42623px 14.85246px;
}
